@import '~antd/dist/antd.css';

/****************************** App ********************************/
.app {
  background: #fff;
  min-height: 100vh;
}

.launch-spinner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: red;
}

.launch-spinner .ant-spin-dot-item {
  background: #1ab394;
}

.launch-spinner .ant-spin-text {
  color: #1ab394;
}

/*************************** LOGIN / REGISTER *******************************/
.login_form_container {
  background: #f3f3f4;
  height: 93vh;
}

.login_form {
  width: 20%;
  margin: 0 auto;
  margin-top: 100px;
  border: 1px solid #e7eaec;
  padding-left: 10px;
  padding-right: 10px;
}

.login_form .ant-input-affix-wrapper:hover,
.login_form .ant-input-affix-wrapper-focused {
  border: 1px solid #1ab394;
  box-shadow: none;
}

.login_form .login-form-button:focus,
.login-form-button:focus {
  background: #1ab394;
  border-color: #1ab394;
}

.logo_name {
  font-size: 50px;
  color: #1ab394;
  margin: 20px auto 20px auto;
  width: 30%;
  letter-spacing: -10px;
}

.login_form .login-form-button {
  display: block;
  background: #1ab394;
  border-color: #1ab394;
  width: 100%;
}

.login-form-forgot {
  text-align: center;
  color: green;
  margin-top: 0;
  display: block;
}

.have-an-account {
  display: block;
  text-align: center;
}

.login_form .create-account-button {
  display: block;
  background: #e7eaec;
  border-color: #e7eaec;
  width: 100%;
  color: #000;
}

.register-in-spin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-title {
  font-size: 50px;
  color: #477b71;
  margin: 20px auto 20px auto;
  width: 40%;
}

.register-title {
  font-size: 50px;
  color: #477b71;
  margin: 20px auto 20px auto;
  width: 55%;
}

/**===========================**/
/**
   MOBILE DEVICES
*/
@media only screen and (max-width: 450px) {
  .login_form {
    width: 95%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    padding-top: 0;
    border: none;
    position: absolute;
    top: 0;
  }

  .logo_name {
    font-size: 60px;
    color: #e6e6e6;
    width: 40%;
    color: #1ab394;
    /* margin: 0 auto 20px auto; */
    margin: 0 auto;
    letter-spacing: -10px;
  }

  .login_form .login-form-button {
    display: block;
    background: #1ab394;
    border-color: #1ab394;
    width: 100%;
  }

  .login-form-forgot {
    text-align: center;
    color: green;
    margin-top: 0;
    display: block;
  }

  .have-an-account {
    display: block;
    text-align: center;
  }

  .login_form .create-account-button {
    display: block;
    background: #e7eaec;
    border-color: #fff;
    width: 100%;
    color: #000;
  }

  .signin-title {
    font-size: 50px;
    color: #477b71;
    margin: 0 auto 20px auto;
    width: 40%;
  }
  
  .register-title {
    font-size: 50px;
    color: #477b71;
    margin: 20px auto 20px auto;
    width: 55%;
  }
}

/******************************** APP HEADER ***************************/
.app_header {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #e7eaec;
  height: 65px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  box-shadow: 10px 2px 15px 1px #e7eaec;
  /* border-bottom: 2px solid red; */
}

.app_logo_search {
  margin-left: 20px;
}

.app_logo_search .app_header_logo {
  font-size: 40px;
  color: #1ab394;
  width: 50%;
  letter-spacing: -5px;
}

.app_header .menu_items {
  /* margin-left: 10px; */
  margin-right: 20px;
}

.app_header_menu > .ant-menu-item-selected a,
.app_header_menu > .ant-menu-item a,
.app_header_menu > .ant-menu-item a:hover {
  color: #1ab394;
}

.app_header_menu.ant-menu-horizontal:not(.ant-menu-dark)
  > .ant-menu-item-selected {
  border: none;
}

.app_header_menu.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover,
.app_header_menu.ant-menu-horizontal:not(.ant-menu-dark)
  > .ant-menu-item:active {
  border-bottom: 2px solid #1ab394;
}

/*** Componentes ***/

.skeleton-css {
}
