@import '~antd/dist/antd.css';

:root {
  --primary: #1ab394;
  --primary-dim: #477b71;
  --primary-dimmer: #035d4d;
  --title-color: #676a6c;  
  --text-color: #676a6c; 
    /* --title-color: #035d4d;
  --text-color: #738a86; */ 
}

/****************************** App ********************************/
.app {
  min-height: 100vh;
  background: #fff;
}

.app.ant-layout {
  /* background: #f3f3f4; */
  /* #f3f3f4 */
}

.dashboard_layout.ant-layout {
  background: #f3f3f4;
}

.launch-spinner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: red;
}

.launch-spinner .ant-spin-dot-item {
  background: var(--primary-dim);
}

.launch-spinner .ant-spin-text {
  color: var(--primary-dim);
}

/*************************** LOGIN / REGISTER *******************************/
.login_form_container {
  background: #f3f3f4;
  height: 93vh;
}

.login_form {
  width: 20%;
  margin: 0 auto;
  margin-top: 100px;
  border: 1px solid #e7eaec;
  padding-left: 10px;
  padding-right: 10px;
}

.login_form .ant-input-affix-wrapper:hover,
.login_form .ant-input-affix-wrapper-focused {
  border: 1px solid var(--primary-dim);
  box-shadow: none;
}

.login_form .login-form-button:focus,
.login-form-button:focus {
  background: var(--primary-dim);
  /* border-color: var(--primary-dim); */
}

.logo_name {
  font-size: 50px;
  color: var(--primary-dim);
  margin: 20px auto 20px auto;
  width: 30%;
  letter-spacing: -10px;
}

.login_form .login-form-button {
  display: block;
  background: var(--primary-dim);
  /* border-color: var(--primary-dim); */
  width: 100%;
}

.login-form-forgot {
  text-align: center;
  color: green;
  margin-top: 0;
  display: block;
}

.have-an-account {
  display: block;
  text-align: center;
}

.login_form .create-account-button {
  display: block;
  background: #e7eaec;
  border-color: #e7eaec;
  width: 100%;
  color: #000;
}

.register-in-spin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-in-spin .ant-spin-dot-item {
  background: var(--primary-dim);
}

.register-in-spin .ant-spin-text {
  color: var(--primary-dim);
}

.signin-title {
  font-size: 40px;
  color: var(--primary-dim);
  margin: 20px auto 20px auto;
  width: 40%;
}

.register-title {
  font-size: 50px;
  color: var(--primary-dim);
  margin: 20px auto 20px auto;
  width: 55%;
}

/**===========================**/
/**
   MOBILE DEVICES
*/
@media only screen and (max-width: 450px) {
  .login_form {
    width: 95%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    padding-top: 0;
    border: none;
    position: absolute;
    top: 0;
  }

  .logo_name {
    font-size: 60px;
    color: #e6e6e6;
    width: 40%;
    color: var(--primary-dim);
    /* margin: 0 auto 20px auto; */
    margin: 0 auto;
    letter-spacing: -10px;
  }

  .login_form .login-form-button {
    display: block;
    background: var(--primary-dim);
    /* border-color: var(--primary-dim); */
    width: 100%;
  }

  .login-form-forgot {
    text-align: center;
    color: green;
    margin-top: 0;
    display: block;
  }

  .have-an-account {
    display: block;
    text-align: center;
  }

  .login_form .create-account-button {
    display: block;
    background: #e7eaec;
    border-color: #fff;
    width: 100%;
    color: #000;
  }

  .signin-title {
    font-size: 50px;
    color: #477b71;
    margin: 0 auto 20px auto;
    width: 40%;
  }

  .register-title {
    font-size: 50px;
    color: #477b71;
    margin: 20px auto 20px auto;
    width: 55%;
  }
}

/******************************** APP HEADER ***************************/
.app_header {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #e7eaec;
  height: 65px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  box-shadow: 10px 2px 15px 1px #e7eaec;
  /* border-bottom: 2px solid red; */
}

.logo-svg {
  width: 70px;
  height: 70px;
}

.app_logo_search {
  margin-left: 20px;
}

.app_logo_search .app_header_logo {
  font-size: 40px;
  color: var(--primary-dim);
  width: 50%;
  letter-spacing: -5px;
}

.app_header .menu_items {
  /* margin-left: 10px; */
  margin-right: 20px;
}

.app_header_menu > .ant-menu-item a:hover {
  color: var(--primary-dim);
}

.app_header_menu.ant-menu-horizontal:not(.ant-menu-dark)
  > .ant-menu-item-selected {
  border: none;
}

.app_header_menu.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover,
.app_header_menu.ant-menu-horizontal:not(.ant-menu-dark)
  > .ant-menu-item:active {
  border-bottom: 2px solid var(--primary-dim);
}

.app_header_menu .ant-btn-primary {
  background: var(--primary-dim);
}

/*** Componentes ***/

.skeleton-css {
}

/**************************USER************************/

.user_name {
  display: inline-block;
  font-size: 25px;
  font-weight: 400;
  color: var(--title-color);
  /* color: #000000a6; */
}

.profile_details_2 {
  color: var(--text-color);
}

.date_joined {
  color: var(--text-color);
}

.sex_profile {
  color: var(--text-color);
}

.age_profile {
  color: var(--text-color);
}

.location_based {
  color: var(--text-color);
}

.user_column-2 {
  margin-top: 20px;
}

.rating-column {
  font-size: 14px;
  color: #ffa811;
  margin-left: 20px;
}

.review-text {
  margin-left: 10px;
}

.user_name .ant-typography-edit {
  color: var(--primary-dim);
  width: 10%;
}

.user_active_listing.ant-typography {
  font-weight: 500;
  color: var(--title-color);
}

.user_listing {
  margin-left: 25px;
}

.user_listing_pagination {
  margin-bottom: 15px;
  width: 98%;
  display: flex;
  justify-content: flex-end;
  color: var(--text-color);
}

.user_listing .ant-pagination {
  margin-bottom: 15px;
}

.user_listing,
.user_listing .ant-pagination-item-active a:hover,
.user_listing .ant-pagination-item-active,
.user_listing .ant-pagination-item:hover,
.user_listing .ant-pagination-item-link:hover {
  color: var(--primary);
  border-color: var(--primary);
}

.user_listing .ant-pagination-item a {
  color: var(--text-color);
}

@media only screen and (max-width: 450px) {
  .user_name {
    font-size: 15px;
  }

  .rating-column {
    font-size: 10px;
    color: #ffa811;
    margin-left: 0;
  }

  .profile_details_2 {
    font-size: 11px;
  }

  .date_joined {
    font-size: 11px;
  }

  .sex_profile {
    font-size: 11px;
  }

  .age_profile {
    font-size: 11px;
  }

  .small-avatar {
    width: 100px !important;
    margin: 0 auto !important;
  }
}

/**********************LISTING  CARD *********************/
.listing_card_title.ant-typography {
  font-weight: 500;
  color: var(--primary-dimmer);
}

.user_listing {
  width: 97%;
}

@media only screen and (max-width: 450px) {
  .user_listing {
    width: 80%;
  }

  .user_active_listing.ant-typography {
    font-size: 20px;
  }
}



/* .listing_card_title span {
  color: gray
} */
